.page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;

  &.theme-light {
    background: $apex-offwhite;
  }

  &.theme-dark {
    background: black;
  }
}

.container {
  &.theme-light {
    background: white;
    color: black;
  }

  &.theme-dark{
    background: $apex-red1;
    color: white;
  }

  .content {
    @extend .mt-3;
    @extend .mb-3;
  }
}